@charset "UTF-8";
.logo{
  text-align: center;
  font-family: 'EB Garamond', serif;
  color: #cc0000;
  font-size: 30px;
  height: auto;
}
h1{
  text-align: center;
  font-size: 50px;
  background-color: #04BBD3;
  font-family: 'EB Garamond', serif;
}
h2{
  font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 30px;
  margin-top: 50px;
}
p{
  text-align: center
}
h3{
  text-align: center;
}
